* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

.wrapper {
    background-color: #a7a7a7;
    min-height: 100svh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result_box {
    height: 60vh;
    width: 60vh;
    
    border-radius: 5vw;
    overflow: hidden;
}

.result_box .header {
    height: 20vh;
    border-bottom: 0.3vh solid black;
    font-size: 2em;
    padding: 2vw;
    text-align: center;
    background-color: #1A73E8;
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result_box .results {
    height: 40vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.result_containers {
    height: 13.33vh;
    width: 100%;
    /* border-bottom: 2px solid black; */
    display: flex;
    justify-content: start;
    align-items: center;
}

.result_containers:hover{
    cursor: pointer;
    background-color: #dddbdb;
}

.result_containers p {
    margin-left: 10vw;
    font-size: 1.5em;
}

@media(max-width: 500px) {
    .result_box{
    width: min(90vw, 60svh);
    height: auto;
    }
}