*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header{
    width: 100%;
    height: 20vh;
    background-color: #1A73E8;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    font-size: 4em;
    color: #f5f5f5;
}

.result_box{
    height: 40vh;
    width: 30vw;
    font-size: 1em;
    background-color: #63706a;
    border-radius: 2vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

@media(max-width: 500px){
        .wrapper{
            height: 80vh;
        }
        .header{
            height: 30vh;
        }

        h1{
            font-size: 5em;
        }

        .result_box{
            height: 40vh;
            width: 40vw;
            border-radius: 4vw;
            font-size: 1em;
            /* padding: 2vw; */
        }
}