*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    height: 100vh;
    width: 50vw;
    background-color: #1A73E8;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.heading {
    height: 80%;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid black; */
}

.heading-1 {
    color: #f5f5f5;
    /* border: 2px solid black; */
    font-weight: 700;
    font-size: 2em;
    text-align: center;
    padding: 0.2vw;
}

.heading-2 {
    font-weight: 200;
    font-size: 1em;
    /* border: 2px solid black; */
    height: 20vh;
    text-align: center;
    color: #f3ff4b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about {
    font-size: 1vw;
    margin: 1vw;
}

.about a {
    color: #f5f5f5;
    text-decoration: none;
}

.privacy {
    font-size: 1em;
    height: 6vh;
    color: #f5f5f5;
    background-color: #110f0f;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.privacy i {
    font-size: 1.5em;
    display: inline-block;
    padding: 1vw;
    margin: 1.5vw;
}

.right {
    height: 100vh;
    width: 50vw;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-heading {
    color: #1A73E8;
    font-size: 3em;
    margin-bottom: 2vw;
    text-align: center;
}

.premium-form label {
    display: block;
    margin-bottom: 1.2vh;
    font-weight: bold;
    color: #333;
}

.premium-form input,
.premium-form select {
    width: 100%;
    padding: 1.2vh;
    margin-bottom: 1.5vh;
    border-radius: 1vh;
    border: 0.2vh solid #ccc;
    font-size: 1em;
    background-color: #ffffff;
}

.premium-form select {
    cursor: pointer;
}

.premium-form input:focus,
.premium-form select:focus {
    outline: none;
    border-color: #1e88e5;
    box-shadow: 0 0 0 1vw rgba(30, 136, 229, 0.2);
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1.5vh;
}

.btn-primary {
    padding: 1.1vw 2vw;
    background-color: #1e88e5;
    color: #ffffff;
    border: none;
    border-radius: 1vh;
    font-size: 1em;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #1565c0;
}

.btn-secondary {
    padding: 1.1vw 2vw;
    background-color: #9e9e9e;
    color: #ffffff;
    border: none;
    border-radius: 1vh;
    font-size: 1em;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: #757575;
}

@media(max-width: 500px) {
    .wrapper {
        /* height: 100vh; */
        flex-direction: column;
    }

    .left {
        height: 100vh;
        width: 100vw;
    }

    .heading-1 {
        font-size: 2em;
    }

    .heading-2 {
        font-size: 1em;
    }

    .about {
        font-size: 1.5em;
        margin: 3vw;
    }

    .about .about-btn {
        height: 5vh;
        margin-top: 4vh;
        border-radius: 4vw;
        padding: 2vw;
    }

    .privacy {
        font-size: 1.3em;
        height: 10vh;
        padding: 3vw;
    }

    .privacy i {
        font-size: 2.2em;
        padding: 2vw;
        margin: 2vw;
    }

    .right {
        width: 100vw;
    }

    .right-heading {
        font-size: 4em;
        margin-bottom: 5vh;
    }

    .btn-primary {
        padding: 2vw 2.2vw;
        font-size: 1.5em;
    }
}